<% include ./partials/header %> 

<h1>Login!</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>
<a href="/auth/google"><i class="fa fa-google-plus" aria-hidden="true">Google</i></a>
<% include ./partials/footer %> 
