<% include ./partials/header %> 
<div class="container" style="width:100%;">
<div class="row">
    <div class="col-md-11 col-lg-11" >
<h1 style="text-align:center;">Login</h1>
<form action="/login" method="POST" style="text-align:center;">
    <!--<input type="text" name="username" placeholder="username">-->
    <!--<input type="password" name="password" placeholder="password">-->
    <!--<input type="submit" value="Login!">-->
    <a href="/auth/google" class="btn btn-googleplus btn-lg">
        <i class="fa fa-google-plus fa-fw" aria-hidden="true"></i>
        Google+
    </a>
</form>
</div>
</div>
</div>

<% include ./partials/footer %> 
