<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
        <h1 style="text-align: center;">Create a New Tutor</h1>
        <div style="width : 70%; margin: 0 auto;">
        <form action="/tutor" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" name="name">
            </div>
            <div class="form-group">
                <label>Contact no</label>
                <input class="form-control" type="text" name="ph_no">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="email">
            </div>
            <div class="form-group">
                <label>Expert</label>
                <input class="form-control" type="text" name="expert">
            </div>
            <div class="form-group">
                <label>Fees</label>
                <input class="form-control" type="text" name="fees">
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" type="text" name="location">
            </div>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password">
            </div>
            <div id="txtEditor"></div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block"type="Submit">Submit</button>
            </div>
            
        </form>
        <a href="/">Go Back!</a>
        </div>
        </div>
    </div>
</div>

<% include partials/footer %>